.idea
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
__pycache__
Development_data.zip
noun_counting_data.zip
.gitignore
Development_data/
noun_counting_data/
answer_cached_models/
data/
docker/__pycache__
docker/ans_engine/__pycache__
docker/ask_engine/__pycache__
docker/ans_engine/boolean_model/
docker/ans_engine/wh_model/
docker/encoder/
docker/GloVe/
Development_data/
noun_counting_data/
tests/
local_test.txt
.DS_Store
Archive.zip
outputs/